<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta name="keywords" content="">
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="javascripts/ajaxCall.js"></script>
<body class="w3-black w3-animate-opacity">
<h1 class="w3-sand w3-padding">{{title}}</h1>
<p class="w3-blue">Welcome to {{title}}</p>
<button class="w3-btn w3-hover-opacity w3-ripple w3-green" onClick="sendRequest();">Ajax Request</button>
</br>
<div class="w3-light-blue w3-padding" id="searchStuff"></div>
<script src="searchApp.js"></script>
<div id="displayResponse"></div>
</body>